#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

*.XML
*.xml
*.JSON
*.json

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace
*.xcodeproj/project.pbxproj
*.xcodeproj/xcshareddata/xcschemes/

# AppCode
*.idea
*.idea/
*.idea/*
*.idea/
*/.idea/workspace.xml

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

example-weights2/.vs/example-weights2/v15/Solution.VC.db
example-weights2/example-weights2.sln
example-weights2/example-weights2.vcxproj
example-weights2/example-weights2.vcxproj.filters
example-weights2/example-weights2.vcxproj.user
example-weights2/icon.rc
example-weights2/.vs/example-weights2/v17/Solution.VC.db-wal
example-weights2/.vs/example-weights2/v17/Solution.VC.db-shm
example-weights2/.vs/example-weights2/v17/Solution.VC.db
example-weights2/.vs/example-weights2/v17/Browse.VC.opendb
example-weights2/.vs/example-weights2/v17/Browse.VC.db-wal
example-weights2/.vs/example-weights2/v17/Browse.VC.db-shm
example-weights2/.vs/example-weights2/v17/Browse.VC.db
example-weights2/.vs/example-weights2/FileContentIndex/read.lock
example-weights2/.vs/example-weights2/FileContentIndex/a4d061fd-cde0-4402-b332-49dc13b3b752.vsidx
example-weights2/.vs/example-weights2/FileContentIndex/6e6b9e4f-e3ef-4558-871e-cddf7dba38e2.vsidx
